
/* P CAR CARD */
.Pedido{
  margin-top: 120px;
  justify-content: center;
  text-align: center;

}

.p-car-container{
    position: relative;
    width: 600px;
    margin-top: 1%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5e580;
    border-radius: 5px;
}
/* IMG CAR */
.img-card-car{
    width: 160px;
    height: 120px;
    border-radius: 5px;
    object-fit: cover;
}
/* CAR TEXT */
.flex-container{
    width: 69%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin-top: 80px;
}
.flex-container p{
    text-transform: capitalize;
    margin-bottom: 2%;
}
.flex-sub-cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flex-sub-cont div{
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.cont-buttons{
    margin: 0px !important;
    display: flex;
    align-items: center;
    flex-direction: row !important;
}
.cont-buttons p{
    width: 100%;
}
.btn-add-sub{
    width: 20px;
    height: 20px;
    padding: 0%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
/* DELETE BTN */
.delete-product{
    position: absolute;
    margin: 0px;
    padding: 0px 5px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 13px;
    right: 30%;
    top: 30%;
    background-color: white;
    align-items: center;
    display: flex;
}
/* CARD PURCHASE */
.car-total{
    width: 350px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--color-cream);
    border-radius: 10px;
}
.car-total h5{
    font-weight: bold;
    margin-bottom: 5%;
}
.car-total p{
    text-align: start;
    font-size: 1.1em;
}
.car-total h4{
    font-size: 1.8em;
    font-weight: 500;
    font-style: italic;
    margin: 0%;
}
.car-total button{
    margin: 5% 10% 0%;
    padding: 2px 0px;
    font-size: px14;
    background-color: #f5e580;
    border: 2px solid black;
    border-radius: 7px;
    transition: ease-in-out .2s;
}
.car-total button:hover{
    background-color: #f5df5c;
}
@media (max-width: 768px) {
    .container-carrito{
        width: 100%;
    }
    /* P CAR CARD */
    .p-car-container{
        width: 90%;
        padding: 1%;
        border-radius: 3px;
    }
    .img-card-car{
        width: 130px;
        height: 90px;
    }
    .flex-sub-cont p{
        font-size: 14px;
    }
    /* CARD PURCHASE */
    .section-car-total{
        width: 100%;
        margin: 0% 5%;
        display: flex;
        justify-content: center;
    }
    .car-total{
        width: 80%;
        margin: 2% 0%;
        padding: 4%;
    }
    .car-total p, .car-total h5{
        font-size: 1em;
    }
    .car-total h4{
        font-size: 1.5em;
    }
    .car-total a{
        font-size: 1em;
    }
}
@media (max-width: 425px) {

  .Pedido{
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    font-size: 30px;
  }
    .img-card-car{
        width: 100px;
        height: 90px;
    }
    .flex-container p{
        font-size: 14px;
    }
    .flex-container{
        margin-left: 50%;
        margin-top: 2px;
    }
    .flex-sub-cont p{
        font-size: 12px;
    }
    .flex-sub-cont div{
        margin: 0px 10%;
    }
    .delete-product{
        right: 40%;
        top: 7%;
    }
    .btn-add-sub{
        border: 0px;
    }
}




 .global {
    max-width: 600px;
    height: auto;
    margin: 10px;
    border-radius: 15px;
    background-color: var(--colorNav);
  }
  
  .containerCart {
    max-width: 1000px;
    margin: auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
  }
  
  .inCart {
    width: 90%;
    height: auto;
    margin: 5px 0;
    padding: 10px;
    background-color: var(--colorText);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }
  
  .delete {
    align-self: flex-start;
  }
  
  .icon {
    font-size: clamp(20px, 5vw, 30px);
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .icon:hover {
    color: var(--colorGlobal);
    transform: scale(0.9);
    transition: all 0.5s;
  }
  
  .textContainer {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .imageCart {
    width: 30%;
  }
  
  .textCart {
    margin: 0;
    font-size: clamp(15px, 5vw, 25px);
    color: var(--colorGlobal);
  }
  
  .inCart > .imageCart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  }
  
  .nameCart {
    font-size: clamp(20px, 5vw, 30px);
    text-align: left;
    margin: 0;
  }
  
  .quatity {
    width: 20%;
    height: 30px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: var(--colorFooter);
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .quatity i {
    font-size: clamp(15px, 5vw, 30px);
    cursor: pointer;
  }
  
  button {
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  .quatity i:hover {
    color: var(--colorGlobal);
    transform: scale(0.8);
    transition: all 0.3s;
  }
  
  .amount {
    text-align: right;
    color: var(--colorGlobal);
  }
  
  .amount > h2 {
    padding: 0 10px;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
  }
  
  .wp {
    width: calc(100% - 30px);
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    color: var(--colorGlobal);
    font-size: clamp(22px, 5vw, 28px);
    background-color: #f5df5c;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.5);
  }
  
  .wp.oculto{
    display: none;
  }
  
  @media only screen and (min-width: 600px) {

    .Pedido{
      margin-top: 110px;
      justify-content: center;
      text-align: center;
      font-size: 40px;
    }
    .global {
      margin: auto;
    }
  
    .wp {
      cursor: pointer;
      transition: all 0.5s;
    }
    .wp:hover {
      background-color: var(--colorText);
      transform: scale(0.95);
      transition: all 0.5s;
      font-size: 32px;
      color: var(--colorFooter);
    }
  }