.card {
  width: 90%;
  margin: 4rem auto 0 auto;
  position: relative;
  background-color: #f5e580;
  border-radius: 20px;
  margin-top: 35px;
}

.card > img {
  width: 100%;
  height: 15rem;
  margin: auto;
  object-fit: cover;
}

.link {
  text-decoration: none;
  color: #c9a900;
}

.card h2 {
  padding: 1rem;
  place-items: center;
  text-align: center;
}
.card h3 {
  padding: 10pxrem;
  place-items: center;
  text-align: center;
}

.Size{
  display: flex;
}

.Size button{
  text-decoration: none;
  background-color: #f5e580;
  border-radius: 20px;
  font-family: "Roboto";
  font-size: 14px;
}

.Size button:hover{
  background-color: #fff;
}

.Add{
  border-radius: 20px;
  font-family: 'Roboto';
  color: #c9a900;
}

.Add:hover{
  background-color: #f5e580;
  color: #000;
}

h4 {
  text-align: center;
  margin-top: 20px ;
}

ul {
  list-style: none;
  justify-content: space-around;
  padding-left: 0rem;
}
.All {
  text-align: center;
  align-items: center;
}
.Categories {
  display: flex;
  align-content: center;
}

.Categories button {
  text-decoration: none;
  background-color: #f5e580;
  border-radius: 20px;
  font-family: "Roboto";
  font-size: 11px;
}

.Categories button:hover {
  text-decoration: none;
  background-color: #ffffff;
  box-shadow: #000;
}
