h4 {
  text-align: center;
  margin-top: 70px;
  font-size: 35px;
}

ul {
  list-style: none;
  justify-content: center;
}

.All {
  text-align: center;
  align-items: center;
  padding: 5px 15px;
}

.Categories button {
  margin: 0 1rem;
}

.Categories button {
  border-radius: 10px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
}

/* From uiverse.io by @Ali-Tahmazi99 */
.bt {
  display: inline-block;
  width: 180px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #03045e;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.bt ::before,
.bt ::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  -webkit-transform: skew(15deg);
  -ms-transform: skew(15deg);
  transform: skew(15deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.bt ::before {
  left: -10px;
  background: #c5c076e5;
}

.bt ::after {
  right: -10px;
  background: #fffd72;
}

.bt :hover::before,
.bt :hover::after {
  width: 58%;
}

.bt :hover span {
  color: #e0aaff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bt span {
  color: #03045e;
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.ContainerCard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  grid-column-gap: 20px;
  grid-row-gap: 20px;
  place-items: center;
}

.card {
  border-radius: 20px;
  width: 240px;
  height: 400px;
  padding: 0.8em;
  background-color: #fcea86;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
  background-color: #a6ffc4;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-info {
  justify-content: center;
  text-align: center;
  padding-top: 10%;
  font-family: "Times New Roman", Times, serif;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-15%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

@media only screen and (max-width: 480px) {
  .ContainerCard {
    display: flex;
    flex-direction: column;
    margin: 20px;
    place-items: center;
  }
}

@media only screen and (min-width: 482px) and (max-widht:768px)  {
  .ContainerCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    place-items: center;
  }

  .Categories button {
    border-radius: 10px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    margin: 0.5rem;
  }

  .bt {
    display: inline-block;
    width: 180px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    z-index: 1;
  }
}

@media only screen and (max-width: 480px)  {

h4 {
  text-align: center;
  margin-top: 10px;
  font-size: 24px;
  padding: 5px 80px;
  line-height: 30px;
}

.Categories button {
  border-radius: 10px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  margin: 0.5rem;
}
}