.dog{
    margin-top: 20px;
    left: 0;
    right: 0;
    width: 200px;
    display: flex;
    
}

.principal{
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    margin-top: 15px;
}

.images {
    height: 240px;
    border-radius: 100px;
    object-fit: contain;
  }


  @media only screen and (min-width: 1024px) {
  .dog{ 
   
    }
    .principal{
        justify-content: center;
        text-align: center;
        font-family: 'Roboto';
        margin-top: 80px;
        font-size: 25px;
        padding: 0 180px;
    }

    .images {
        height: 340px;
        border-radius: 70%;
        object-fit: contain;
      }

  }

  @media (min-width: 576px) and (max-width: 990px){

    .dog{
        margin-top: 80px;
        margin-left: 35%;
        width: 240px;
    }
    .principal{
        justify-content: center;
        text-align: center;
        font-family: 'Roboto';
        margin-top: 20px;
        font-size: 25px;
        padding: 0 100px;
    }

    .images {
        height: 300px;
        border-radius: 70%;
        object-fit: contain;
      }

  }
  