.header{
    background-color: #FECE00;
    padding: 20px;
    box-shadow:0 0 35px rgba(0, 0, 0,.5);
}


.Principal{
    text-align:center;
    font-size: 20px; 
    margin-top: -40px;
}

.logocook{
    margin-top:-10px;
    width: 60px;
    border: 1px solid rgba(0, 0, 0,.5);
    border-radius: 50%;
    box-shadow:0 0 25px rgba(0, 0, 0,.5);
}

.contacts{
    float: right ;
    margin: 0 1px;
    margin-top: -2px;
    padding: 0.1em 0.25em;
    width: 100x;
    height: 18px;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 18px;
    font-size: 8px;
}

.contacts span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 100px;
    height: 18px;
    background-color: #212121;
    border-radius: 18px;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
  }
  
  .contacts span:active {
    background-color: #d3b429;
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
    color: #000;
     border-radius: 18px;
  }
  
  .contacts span:not(hover) {
    transition: all 1s;
  }
  



@media all and (min-width: 1020px) {
    .header{
        padding: 40px;
    }
    .logocook{
        margin-top:10px;
        width: 120px;
    }
    .Principal{
        text-align:center;
        font-size:45px; 
        margin-top: -100px;
    }
    .contacts{
    float: right ;
    margin: 10px;
    margin-top: -35px;
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.5em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 18px;
    font-size: 12px;
}

.contacts span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 18px;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
  }
  
  .contacts span:hover {
    background-color: #d3b429;
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
    color: #000;
     border-radius: 18px;
  }
  
  .contacts span:not(hover) {
    transition: all 1s;
  }
  
    
}

@media (min-width: 576px) and (max-width: 800px){
    .header{
        padding: 45px;
    }
    .logocook{
        margin-top:-10px;
        width: 80px;
    }
    .Principal{
        text-align:center;
        font-size:30px; 
        margin-top:-80px;
        margin-left: 20px;
    }

    .contacts{
        float: right ;
        margin: 10px;
        margin-top: -35px;
        padding: 0.1em 0.25em;
        width: 120px;
        height: 60px;
        background-color: #212121;
        border: 0.08em solid #fff;
        border-radius: 18px;
        font-size: 12px;
    }

    .contacts span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 120px;
    height: 60px;
    background-color: #212121;
    border-radius: 18px;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
  }
}

