.footer{
    background-color:#F5E580;
    margin-top: 10px;
}

.sloganFooter{
    font-size: 15px;
    text-align: center;
}

.contact{
    font-size: 25px;
    text-align: center;
    margin-top: -5px;
}