.Form{
    text-align: center;
    margin-top: 20px;
}

form{
    background-color: #f5e580;
    padding: 40px;
    border-radius: 30px;
    font-family: 'Roboto';
    font-weight: 600;
}

input{
    border-radius: 10px;
    width: 240px;
    margin-top: 5px;
}

input:hover{
  background-color: #f5e580;
}

label{
    padding-right: 40px;
}

select{
    border-radius: 21px;
    margin-top: 5px;
    background-color: #ffffff;
}

select:hover{
    background-color: #f5e580;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    form{
        background-color: #f5e580;
        padding: 120px;
        border-radius: 30px;
    }
    input{
        border-radius: 10px;
        width: 440px;
        margin-top: 5px;
        justify-content: center;
    }
   

}